.card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.01); /* Phóng to nhẹ */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Thêm shadow */
}
