.footer {
  background-color: #333;
  color: #fff;
  height: 300px;
  padding: 20px;
  font-size: 16px;
  margin-top: 20px;
}


.list-Group-footer{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-Group-footer li{
  margin-bottom: 10px;
  font-size: 16px;
}
.list-Group-footer li a{
  color: #fff;
  text-decoration: none;
}

.list-Group-footer li a:hover{
   text-decoration: underline;
}
/* Mobile devices */
@media (max-width: 768px) {
  .footer {
    padding: 10px;
    font-size: 14px;
  }
  .list-Group-footer li{
    margin-bottom: 10px;
    font-size: 9px;
  }
  .title-list-Groupp{
    font-size: 11px;
  }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    padding: 15px;
    font-size: 16px;
  }
  .list-Group-footer li{
    margin-bottom: 10px;
    font-size: 12px;
  }
  .title-list-Groupp{
    font-size: 13px;
  }
}

/* Desktops */
@media (min-width: 1025px) {
  .footer {
    padding: 20px;
    font-size: 18px;
  }
  .list-Group-footer li{
    margin-bottom: 10px;
    font-size: 16px;
  }
}
